<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link th:href="@{/styles/login.css}" rel="stylesheet">
</head>
<body>
<div>
<p>Welcome to Login page !</p>
	<form action="/validate" method="post">
		Enter User Name : <input type="text" name="user" required = "required" placeholder="Enter userID" ><br><br>
		Enter Password : <input type="password" name="pass" required="required" placeholder="Enter password"><br><br>
		<input type="submit" name="vall" value="Validate">
		
	</form>
<br><br>
<p th:text="${message}" style="color: red"></p>
<br><br>
<input type="button" value="Go back!" onclick="history.back()">
<br><br>
<a href="./">Go To Main Page</a>
</div>
</body>
</html>