<!DOCTYPE html>
<html  >
<head>
<meta charset="ISO-8859-1">
<title>View patient profile</title>
<link th:href="@{/styles/patientEnterId.css}" rel="stylesheet">
</head>
<body>
<!--  <h1>Hospital Management System</h1> -->

<div class=form>
<br>
<br>
<form action="/viewPatient" method="post">
	Enter Patient Id : <input type="text" required="required" placeholder="Patient ID starting with P..." name="pId"><br><br>
	<input type="submit" name="pId" value="Show">
</form>
<br>
	 <input type="button" value="Go back!" onclick="history.back()"><br><br>
</div>
</body>
</html>