<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Show all Doctors</title>
<link th:href="@{/styles/showAllDoctors.css}" rel="stylesheet">
<!-- <link rel="stylesheet" href="../static/styles/showAllDoctors.css"> -->
</head>
<body>
<div class ="outer">
<h2>Doctor Details</h2>
<center>
<table border="1">
	<tr>
		<th>Doctor ID</th>
		<th>Name</th>
		<th>Specialization</th>
		<th>Experience</th>
		<th>Gender</th>
		<th>Age</th>
		<th>Contact Number</th>
		<th>Address</th>
		
	</tr>
	<tr id="tr1">
	<tr th:each="doctorList : ${doctorList}">
	
		<td th:text="${doctorList.doctorId}"></td>
		<td th:text="${doctorList.doctorName}"></td>
		<td th:text="${doctorList.doctorDepartment}"></td>
		<td th:text="${doctorList.doctorExperience}"></td>
		<td th:text="${doctorList.doctorGender}"></td>
		<td th:text="${doctorList.doctorAge}"></td>
		<td th:text="${doctorList.doctorContact}"></td>
		<td th:text="${doctorList.doctorAddress}"></td>
		
	</tr>
</table>
</center>
<br> <br>

<a href="./">Go To Main Page</a>
<br> <br>
 <input type="button" value="Go back!" onclick="history.back()"><br><br>
</div>
</body>
</html>