<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Doctor List to remove doctor</title>
<link th:href="@{/styles/showAllDoctorToRemove.css}" rel="stylesheet">
</head>
<body>
<div class = "table">
<h2>Doctor Details</h2>
<center>
<table border="1">
	<tr>
		<th>Doctor ID</th>
		<th>Name</th>
		<th>Specialization</th>
		<th>Experience</th>
		<th>Gender</th>
		<th>Age</th>
		<th>Contact Number</th>
		<th>Address</th>
		
	</tr>
	<tr>
	<tr th:each="doctorList : ${doctorList}">
	
		<td th:text="${doctorList.doctorId}"></td>
		<td th:text="${doctorList.doctorName}"></td>
		<td th:text="${doctorList.doctorDepartment}"></td>
		<td th:text="${doctorList.doctorExperience}"></td>
		<td th:text="${doctorList.doctorGender}"></td>
		<td th:text="${doctorList.doctorAge}"></td>
		<td th:text="${doctorList.doctorContact}"></td>
		<td th:text="${doctorList.doctorAddress}"></td>
		
	</tr>
</table></center>
<br> <br>
<form action="#"  method="post" th:object="${command2}" th:action="@{./removeDoctor}">
	Select Doctor ID : <select th:field="*{doctorId}">
	<option th:each="id : ${doctorIds}" th:value="${id}" th:label="${id}"></option>
	</select>
	<input type="submit" value="Delete Doctor">
</form>
<br>
<a id="mainPage" href="./">Go To Main Page</a>
<br>
 <input type="button" value="Go back!" onclick="history.back()"><br><br>
</div>
</body>
</html>