@charset "ISO-8859-1";


body {
 	background-image: url("main.png");
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-color: #38444d;
 	font-family: verdana;
	font-size: 100%;
	
}

div{
	height : 200px;
	width : 800px;
	position:absolute;
    top: 40%;
    left: 25%;
    text-align: center;
    background: rgba(0,255,255,0.5);
    display: flex;
  	align-items:center ;
  	justify-content: space-evenly;
  	border-radius:10px; 
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
   
}
a{
	text-decoration:none;
	color : white;
	letter-spacing:2px;
	line-height:5px;
	text-shadow:3px 1px 10px aqua;
	font-size: 45px;
	font-weight: bold;
}
/*
h1{
	color:#92f906;
}
h3{
	color:aqua;
}
*/